
<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/public/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/public/calendar/dhtmlxScheduler.css"  media="screen"/>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="Sache Beauty Salon"/>
    <title>Sache Beauty Salon</title>
</head>
<body>

<!-- NAVIGATION -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="/public/img/logo-01.png" alt="logo"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">HOME</a></li>
      <li><a href="/#about">ABOUT US</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/lookbook">LOOK BOOK</a></li>
      <li><a href="/bookapt">BOOK NOW</a></li>
      <li><a href="/employees">EMPLOYEES</a></li>      

      {{#if data.users}}
      {{!-- <li><a href="/manager">MANAGER</a></li> --}}
      
      <li><a class="dropdown-button" href="#!" data-activates="manager-desktop">MANAGER<i class="material-icons right">arrow_drop_down</i></a></li>





      <li><a href="/logout">LOGOUT</a></li> 
      {{/if}}


    </ul>


      <ul id="manager-desktop" class="dropdown-content">
        <li><a href="/dashboard">Bookings</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Image Upload</a></li>
      </ul>


      <ul id="manager-mobile" class="dropdown-content">
        <li><a href="/dashboard">Bookings</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Image Upload</a></li>
      </ul>



    <ul class="side-nav" id="mobile-demo"> 
      <li><a href="/"><i class="material-icons">home</i>HOME</a></li>      
      <li><a href="/#about"><i class="material-icons">info</i>ABOUT US</a></li>
      <li><a href="/contact"><i class="material-icons">contacts</i>CONTACT</a></li>
      <li><a href="/lookbook"><i class="material-icons">nature</i>LOOK BOOK</a></li>
      <li><a href="/bookapt"><i class="material-icons">shopping_cart</i>BOOK NOW</a></li>
      <li><a href="/employees"><i class="material-icons">local_dining</i>EMPLOYEES</a></li>

      {{#if data.users}}
{{!--       <li><a href="/manager">MANAGER</a></li>
 --}}    

 <li><a class="dropdown-button" href="#!" data-activates="manager-mobile"><i class="material-icons">supervisor_account</i>MANAGER<i class="material-icons right">arrow_drop_down</i></a></li> 

  <li><a href="/logout">LOGOUT</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
<!-- NAVIGATION -->

{{{body}}}

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">© Caragol & Zaina</div>
  </div>
</footer>

  <!-- Jquery -->
  <script type="text/javascript" src="/public/js/jquery.min.js"></script> 
  <!-- Materialize Js  -->
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  <!-- Handlebars Js  -->  
  <script type="text/javascript" src="/public/js/handlebars.min.js"></script>
  <!-- Clockpicker Js  -->  
  <script src="/public/js/materialize.clockpicker.js"></script>
  <!-- Calendar Js  --> 
  <script src="/public/calendar/dhtmlxscheduler.js"></script>
   <!-- Main Js  -->  
  <script src="/public/js/main.js"></script>


</body>
</html>



