<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="/public/css/materialize.css"  media="screen,projection"/>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="Sache Beauty Salon"/>
    <title>Sache Beauty Salon</title>
</head>
<body>

<!-- NAVIGATION -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">

    <svg id="Layer_1" viewBox="0 0 71.2 46.3">
      <style>
        .st0{fill:url(#SVGID_1_);} .st1{fill:#4F2C74;}
      </style>
      <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="46.516" y1="11.243" x2="71.164" y2="11.243">
        <stop offset="0" stop-color="#FF0"/>
        <stop offset=".611" stop-color="#AFAE04"/>
        <stop offset="1" stop-color="#4F2C74"/>
      </linearGradient>
      <path class="st0" d="M70.5 22.2c.7-3.3-.9-5.5-4.2-5.5-2.9 0-5.8.6-8.7.8-2 .2-4.1.4-6.1.2-3.8-.4-5.7-3.7-4.5-7.3.2-.6.4-1.1.7-1.6 2.8-4.3 6.6-7.2 11.6-8.5 1-.3 2.2-.5 2.9.7.4 1-.3 2-1.1 2.7-.6.6-1.4 1.1-2.2 1.7.9-1 1.7-1.9 2.3-2.9.7-1.2.1-2.1-1.2-1.8-1.5.3-3 .8-4.3 1.4-2.6 1.2-5 2.9-6.7 5.2-.8 1.1-1.5 2.4-1.7 3.7-.5 2.4.8 4.3 3.3 4.5 2.1.2 4.2.1 6.2 0 2.6-.1 5.1-.4 7.7-.5.8 0 1.6.1 2.4.3 3.2.6 4.9 3.1 4.2 6.3 0 .2-.2.5-.3.6-.1.1-.2.1-.2.1-.2.1-.2.1-.1-.1z"/>
      <path class="st1" d="M.5 36.2c2.1-.4 4.7-1.5 4.7-3.2 0-1.1-.7-1.6-2.2-2.4-1.8-1-3-1.9-3-3.4 0-2.2 3.1-4.3 6-5l.4 1.6C5.1 24 2 25 2 26.8c0 1.1 1.5 1.8 2.4 2.3 1.6 1 2.9 1.6 2.9 3.3 0 2.1-2.2 4.3-6.3 5.3l-.5-1.5zM9.6 36.7c1.2-2 7.3-14 7.8-14.9 1.9 3 6.9 12.5 8.3 14.7l-1.8 1.2c-.4-.8-2.7-5.1-2.9-5.5l-7.3.3c-.3.4-2 4.5-2.3 5.2l-1.8-1zM20.4 31c-.2-.5-2.8-5.4-3-5.7-.3.5-2.8 5.6-2.9 6l5.9-.3zM39.2 37.5c-.6.1-1.6.2-2.9.2-7.2 0-9-4.3-9-6.3 0-3.5 3.2-7.9 10.7-9.2l.3 1.8c-4.8.5-8.8 3.4-8.8 7.1 0 2.6 2 5 7.1 5 .8 0 1.7-.1 2.5-.3l.1 1.7zM43.1 37.4c0-.9.1-5.9.1-6.4v-2.3c0-.4-.1-5.6-.1-6.1h2.1c0 .4-.1 4.7-.1 5.1v1.7l9.4-.4v-1.7c0-.4 0-4.2-.1-4.6h2.2c-.1.5-.2 6.2-.2 6.7v2.1c0 .3 0 5.6.1 6h-2.1c.1-.7.1-4.5.1-4.9v-2.2l-9.4.4v1.4c0 1 .1 4.8.1 5.3h-2.1zM69.9 37.6c-.3 0-6.7-.2-7.1-.2.1-1.1.1-5.6.1-6.1v-2.8c0-.3 0-5.4-.1-5.8.5 0 6-.3 6.7-.4l.1 1.7c-.7 0-4.5.1-4.8.1v5.3c.4 0 3.1-.1 4.1-.2l.1 1.7c-.5 0-3.8-.1-4.2-.1V36c.5 0 3.3.1 5.1-.1v1.7zM1 42.7v-1.6h1c1.5.2 1.7.7 1.7 1.1 0 .3-.1.8-.9 1.1.5.1 1.1.5 1.1 1.1 0 .9-1.1 1.7-2.9 1.7v-3.4zm.7.6c.8 0 1.3-.5 1.3-1 0-.7-.8-.8-1.3-.8v1.8zm0 2.4c.8-.1 1.5-.5 1.5-1.2 0-.5-.6-.9-1.5-.8v2zM7.9 46.3c-.2 0-2.2-.1-2.4-.1v-2.6-1.7c.2 0 1.9-.1 2.2-.1v.5H6.1v1.5c.1 0 1 0 1.4-.1v.5H6.1v1.5h1.7l.1.6zM8.6 46c.4-.6 2.3-4.1 2.4-4.4.6.9 2.1 3.7 2.6 4.3l-.6.4c-.1-.2-.8-1.5-.9-1.6l-2.3.1c-.1.2-.6 1.3-.7 1.5l-.5-.3zm3.3-1.7c-.1-.1-.8-1.5-.9-1.6-.1.1-.8 1.6-.9 1.7l1.8-.1zM14.9 43.3c0 1 .1 1.5.3 1.9.3.4.6.6 1.1.6.6 0 .9-.3 1.1-.6.3-.5.3-1.2.3-2.2v-.2-1h.7v1.3c0 1.2-.1 1.9-.6 2.5-.4.5-.9.7-1.6.7-.4 0-1.1-.1-1.5-.7-.3-.5-.4-1-.4-2.5v-.3-.9h.7v1.4zM20.7 46.2v-3.9c-.8 0-1.7 0-1.8.1v-.6c.2.1 1.8.1 1.8.1h.6c.1 0 1.6 0 1.8-.1v.6s-1.2-.1-1.8-.1v1c0 1.3.1 2.7.1 2.9h-.7zM25 46.2v-1.3c0-.8-.4-1.5-.8-1.9-.3-.3-.6-.5-.9-.6l.3-.5c.4.2.8.5 1 .7.3.3.7.8.9 1.3.2-.5.4-.9.8-1.3.3-.3.9-.7 1.2-.8l.2.5c-.4.1-.8.4-1.2.8-.5.5-.8 1.1-.8 1.8v1.4H25zM30.5 45.8c.7-.1 1.5-.4 1.5-.9 0-.3-.2-.5-.7-.7-.6-.3-1-.5-1-1 0-.7 1-1.3 2-1.5l.1.5c-.4.1-1.4.4-1.4.9 0 .3.5.5.8.7.5.3.9.5.9 1 0 .6-.7 1.3-2 1.6l-.2-.6zM34.9 46.2v-3.9c-.8 0-1.7 0-1.8.1v-.6c.2.1 1.8.1 1.8.1h.6c.1 0 1.6 0 1.8-.1v.6s-1.2-.1-1.8-.1v1c0 1.3.1 2.7.1 2.9h-.7zM38.7 43.3c0 1 .1 1.5.3 1.9.3.4.6.6 1.1.6.6 0 .9-.3 1.1-.6.3-.5.3-1.2.3-2.2v-.2-1h.7v1.3c0 1.2-.1 1.9-.6 2.5-.4.5-.9.7-1.6.7-.4 0-1.1-.1-1.5-.7-.3-.5-.4-1-.4-2.5v-.3-.9h.7v1.4zM43.7 43.5v-1.6h1.6c2.2.2 2.4 1.2 2.4 1.6 0 2-2.3 2.7-4 2.7v-2.7zm.7 2.2c1.8-.1 2.7-1.1 2.7-2 0-1-1-1.4-2.7-1.3v3.3zM49.6 44.3v1.9h-.7V43.6v-1.8h.7v2.5zM50.9 44.3c0-1.4 1-2.5 2.6-2.5 1.3 0 2.2.8 2.2 2.1 0 1-.7 2.4-2.6 2.4-1.4 0-2.2-.9-2.2-2zm4.2-.4c0-1.1-.8-1.7-1.6-1.7-1.2 0-1.9.9-1.9 1.9 0 .9.6 1.7 1.6 1.7s1.9-.7 1.9-1.9zM60 41.9v3.8h1.7v.6c-.2 0-2.2-.1-2.4-.1.1-.3.1-1.7.1-1.8v-.8-1.7h.6zM63.6 41.9c0 .1-.1 1.4-.1 2.1v1.7h1.7v.6c-.2 0-2.2-.1-2.4-.1.1-.3.1-1.7.1-1.8v-.8-1.7h.7zM69.6 46.3c-.1 0-.4.1-.8.1-2.3 0-2.8-1.2-2.8-1.8 0-1.1 1-2.3 3.3-2.7l.1.6c-1.5.2-2.7 1-2.7 2.1 0 .7.6 1.4 2.2 1.4.3 0 .5 0 .7-.1v.4z"/>
    </svg>
     
    </a>


    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">HOME</a></li>
      <li><a href="/#about">ABOUT US</a></li>
      <li><a href="/contact">CONTACT</a></li>      
      <li><a href="/stylists">STYLISTS</a></li>      
      <li><a href="/pricelist">PRICE LIST</a></li>      
      <li><a class="dropdown-button" href="#!" data-activates="gallery-desktop">GALLERY<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/bookapt">BOOK APPT</a></li>

      {{#if data.users}}
      <li class="active"><a class="dropdown-button" href="#!" data-activates="manager-desktop">MANAGER<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/logout">LOGOUT</a></li> 
      {{/if}}


    </ul>

     {{#if data.users}}
      <ul id="manager-desktop" class="dropdown-content">
        <li><a href="/dashboard">Manage Appt</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Add Content</a></li>
      </ul>      
      <ul id="manager-mobile" class="dropdown-content">
        <li><a href="/dashboard">Manage Appt</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Add Content</a></li>
      </ul>
      {{/if}}

      <ul id="gallery-desktop" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>
      
      <ul id="gallery-mobile" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>



    <ul class="side-nav" id="mobile-demo"> 
      <li><a href="/"><i class="material-icons prefix">home</i>HOME</a></li>      
      <li><a href="/#about"><i class="material-icons">info</i>ABOUT US</a></li>
      <li><a href="/contact"><i class="material-icons">contacts</i>CONTACT</a></li>
      <li><a href="/stylists"><i class="material-icons">content_cut</i>STYLISTS</a></li>
      <li><a href="/pricelist"><i class="large material-icons">assignment</i>PRICE LIST</a></li>   
      <li><a class="dropdown-button" href="#!" data-activates="gallery-mobile"><i class="material-icons">photo_library</i>GALLERY<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li><a href="/bookapt"><i class="material-icons">date_range</i>BOOK APPT</a></li>

      {{#if data.users}}   
      <li class="active"><a class="dropdown-button" href="#!" data-activates="manager-mobile"><i class="material-icons">supervisor_account</i>MANAGER<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li><a href="/logout"><i class="fa fa-sign-out material-icons" aria-hidden="true"></i>LOGOUT</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
<!-- NAVIGATION -->

<main>
{{{body}}}
</main>

<footer class="page-footer">
  <div class="footer-copyright">
  <div class="container">
  © Sache´ Beauty Studio
  <div class="right">
    <a class="fa fa-facebook fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.facebook.com/sache.beauty.studio" target="_blank"></a>
    <a class="fa fa-twitter fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://twitter.com/sachebeauty" target="_blank"></a>
    <a class="fa fa-linkedin fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.linkedin.com/in/sache-beauty-studio-llc-ba749657" target="_blank"></a>
    <a class="fa fa-youtube-play fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.youtube.com/user/SACHEBEAUTYSTUDIO" target="_blank"></a> 
    <a class="fa fa-pinterest-p fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.pinterest.com/sachebeauty/" target="_blank"></a>
    <a class="fa fa-google-plus fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://plus.google.com/+SacheBeautyStudio" target="_blank"></a>
    <a class="fa fa-instagram fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.instagram.com/sachebeautystudio/" target="_blank"></a>
  </div>
  </div>
  </div>
</footer>

  <!-- Jquery -->
  <script type="text/javascript" src="/public/js/jquery.min.js"></script> 
  <!-- Materialize Js  -->
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  <!-- Handlebars Js  -->  
  <script type="text/javascript" src="/public/js/handlebars.min.js"></script>
  <!-- Clockpicker Js  -->  
  <script type="text/javascript" src="/public/js/materialize.clockpicker.js"></script>
  <!-- Calendar Js  --> 
  <script type="text/javascript" src="/public/js/dhtmlxscheduler.js"></script>
   <!-- Main Js  -->  
  <script type="text/javascript" src="/public/js/main.js"></script>


</body>
</html>



