<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Sache Beauty Salon" content="sache beauty salon offers beautiful and natural hair grooming and maintenance services at affordable prices.">
  <meta name="description" content="Services - Sache Beauty Studio LLC is located in Philadelphia, PA. We offer a variety of services, including: consultations, hair color, eyelash extension, hair care, perm &amp; straighten, hair treatment, haircut, hair styling." />
  <meta name="keywords" content="Consultations, Hair Color, Eyelash Extension, Hair Care, Perm &amp; Straighten, Hair Treatment, Haircut, Hair Styling." />
  <meta name="google-site-verification" content="JP0guakJNLuT6bB0USNlof4dEDqxjFxabRu_2sM4ksA" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon.svg">
  <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/toastr.css">
  <link rel="stylesheet" type="text/css" href="/public/css/materialize.css"  media="screen"/>
  <title>Sache Beauty Salon</title>
</head>
<body>

<!-- NAVIGATION -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
    <img src="/public/img/logo.png" alt="logo">    
    </a>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li {{#is page "home"}} class="active" {{/is}}><a href="/">HOME</a></li>
      <li {{#is page "about"}} class="active" {{/is}}><a href="/#about">ABOUT US</a></li>
      <li {{#is page "contact"}} class="active" {{/is}}><a href="/contact">CONTACT</a></li>      
      <li {{#is page "stylists"}} class="active" {{/is}}><a href="/stylists">STYLISTS</a></li>      
      <li {{#is page "pricelist"}} class="active" {{/is}}><a href="/pricelist">PRICE LIST</a></li>      
      <li {{#is page "gallery"}} class="active" {{/is}}><a class="dropdown-button" href="#!" data-activates="gallery-desktop">GALLERY<i class="material-icons right">arrow_drop_down</i></a></li>
      <li {{#is page "gallery"}} class="active" {{/is}}><a href="/bookapt">BOOK APPT</a></li>

      {{#if user}}
      <li {{#is page "manager"}} class="active" {{/is}}><a href="/upload">MANAGER</a></li>
      <li><a href="/logout">LOGOUT</a></li> 
      {{/if}}
    </ul>


      <ul id="gallery-desktop" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>
      
      <ul id="gallery-mobile" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>

    <ul class="side-nav" id="mobile-demo"> 
      <li {{#is page "home"}} class="active" {{/is}}><a href="/"><i class="material-icons prefix">home</i>HOME</a></li>      
      <li {{#is page "about"}} class="active" {{/is}}><a href="/#about"><i class="material-icons">info</i>ABOUT US</a></li>
      <li {{#is page "contact"}} class="active" {{/is}}><a href="/contact"><i class="material-icons">contacts</i>CONTACT</a></li>
      <li {{#is page "stylists"}} class="active" {{/is}}><a href="/stylists"><i class="material-icons">content_cut</i>STYLISTS</a></li>
      <li {{#is page "pricelist"}} class="active" {{/is}}><a href="/pricelist"><i class="material-icons">assignment</i>PRICE LIST</a></li>   
      <li {{#is page "gallery"}} class="active" {{/is}}><a class="dropdown-button" href="#!" data-activates="gallery-mobile"><i class="material-icons">photo_library</i>GALLERY<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li {{#is page "bookapt"}} class="active" {{/is}}><a href="/bookapt"><i class="material-icons">date_range</i>BOOK APPOINTMENT</a></li>

      {{#if user}}   
      <li {{#is page "manager"}} class="active" {{/is}}><a href="/upload"><i class="material-icons">supervisor_account</i>MANAGER</a></li>
      <li><a href="/logout"><i class="fa fa-sign-out material-icons" aria-hidden="true"></i>LOGOUT</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
<!-- NAVIGATION -->

<main>
{{{body}}}
</main>

<!-- FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
  <div class="container">
  © Sache´ Beauty Studio LLC
  <div class="right">
    <a class="fa fa-facebook fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.facebook.com/sache.beauty.studio" target="_blank"></a>
    <a class="fa fa-twitter fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://twitter.com/sachebeauty" target="_blank"></a>
    <a class="fa fa-linkedin fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.linkedin.com/in/sache-beauty-studio-llc-ba749657" target="_blank"></a>
    <a class="fa fa-youtube fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.youtube.com/user/SACHEBEAUTYSTUDIO" target="_blank"></a> 
    <a class="fa fa-pinterest-p fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.pinterest.com/sachebeauty/" target="_blank"></a>
    <a class="fa fa-google-plus fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://plus.google.com/+SacheBeautyStudio" target="_blank"></a>
    <a class="fa fa-instagram fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.instagram.com/sachebeautystudio/" target="_blank"></a>
  </div>
  </div>
  </div>
</footer>
<!-- FOOTER -->

  <!-- Jquery -->
  <script type="text/javascript" src="/public/js/jquery.min.js"></script> 
  <!-- Materialize Js  -->
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  {{!-- Toastr --}}
  <script type="text/javascript" src="/public/js/toastr.js"></script>
  <!-- Handlebars Js  -->  
  <script type="text/javascript" src="/public/js/handlebars.min.js"></script>
   <!-- Main Js  -->  
  <script type="text/javascript" src="/public/js/main.js"></script>

  {{#if success_msg}}<script type="text/javascript">toastr.success('{{success_msg}}');</script> {{/if}}
  {{#if error_msg}}<script type="text/javascript">toastr.success('{{error_msg}}');</script> {{/if}}
  {{#if error}}<script type="text/javascript">toastr.success('{{error}}');</script> {{/if}}
</body>
</html>



