
<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/public/css/materialize.css"  media="screen,projection"/>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="Sache Beauty Salon"/>
    <title>Sache Beauty Salon</title>
</head>
<body>

<!-- NAVIGATION -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">

<svg id="Layer_1" viewBox="0 0 53.4 51.9">
  <style>
    .st0{fill:url(#SVGID_1_);} .st1{fill:#4F2C74;}
  </style>
  <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse">
    <stop offset="0" stop-color="#FF0"/>
    <stop offset=".611" stop-color="#AFAE04"/>
    <stop offset="1" stop-color="#4F2C74"/>
  </linearGradient>
  <path class="st0" d="M52.3 34.4c1-5.2-1.3-8.6-6.6-8.6-4.5.1-9 1-13.6 1.3-3.2.3-6.4.6-9.5.2-5.9-.7-8.9-5.7-7-11.4.3-.9.6-1.7 1.1-2.5C21.1 6.9 27 2.4 34.7.3c1.6-.4 3.5-.7 4.4 1.1.9 1.7-.2 3.2-1.4 4.4-1 1-2.2 1.7-3.4 2.7C35.7 6.9 37 5.6 37.9 4c1-1.8.1-3.2-1.9-2.8-2.3.4-4.6 1.2-6.7 2.2-4.1 1.9-7.7 4.5-10.4 8.1-1.2 1.7-2.3 3.7-2.7 5.8-.8 3.8 1.3 6.6 5.1 7 3.2.3 6.5.1 9.7 0 4-.2 7.9-.6 11.9-.8 1.2-.1 2.5.2 3.7.4 5 1 7.5 4.8 6.5 9.8-.1.3-.3.7-.5 1-.1.1-.2.2-.3.1-.1.1-.1-.1 0-.4z"/>
  <path class="st1" d="M.4 44.4c1.5-.3 3.5-1.1 3.5-2.4 0-.8-.5-1.2-1.6-1.8C.9 39.5 0 38.9 0 37.8c0-1.7 2.3-3.2 4.5-3.7l.3 1.2c-1 .2-3.3.9-3.3 2.2 0 .8 1.1 1.3 1.8 1.7 1.2.7 2.1 1.2 2.1 2.5 0 1.5-1.6 3.2-4.6 3.9l-.4-1.2zM7.1 44.8c.9-1.5 5.4-10.4 5.7-11 1.4 2.2 5.1 9.3 6.2 10.9l-1.3.9c-.3-.6-2-3.8-2.1-4.1l-5.4.2c-.2.3-1.5 3.3-1.7 3.9l-1.4-.8zm8-4.3c-.2-.3-2.1-4-2.3-4.2-.2.3-2 4.2-2.2 4.4l4.5-.2zM29 45.4c-.5.1-1.2.2-2.1.2-5.3 0-6.7-3.2-6.7-4.6 0-2.6 2.4-5.8 7.9-6.8l.2 1.3c-3.6.4-6.5 2.6-6.5 5.2 0 1.9 1.5 3.7 5.2 3.7.6 0 1.3-.1 1.8-.2l.2 1.2zM31.9 45.3v-6.5c0-.3 0-4.1-.1-4.5h1.6c0 .3-.1 3.5-.1 3.8v1.2l7-.3v-1.3c0-.3 0-3.1-.1-3.4h1.6c0 .4-.1 4.6-.1 5v1.6c0 .2 0 4.1.1 4.4h-1.6c0-.5.1-3.3.1-3.6v-1.6l-7 .3v1c0 .7 0 3.6.1 3.9h-1.5zM51.7 45.5c-.3 0-5-.2-5.3-.2v-6.6-4.3c.4 0 4.5-.2 5-.3l.1 1.2c-.5 0-3.3.1-3.6.1v3.9c.3 0 2.3-.1 3.1-.2v1.2c-.3 0-2.8-.1-3.1-.1V44h3.8v1.5zM.8 49.2V48h.8c1.1.1 1.2.5 1.2.8 0 .2-.1.6-.7.8.4.1.9.4.9.8 0 .6-.8 1.3-2.1 1.3v-2.5zm.4.5c.6 0 1-.4 1-.7 0-.5-.6-.6-1-.6v1.3zm0 1.8c.6-.1 1.1-.3 1.1-.9 0-.4-.4-.6-1.1-.6v1.5zM5.9 51.9H4.2V50v-1.3c.1 0 1.4-.1 1.6-.1v.4H4.6v1h1v.4h-1v1.1h1.2l.1.4zM6.4 51.7c.3-.5 1.7-3.1 1.8-3.2.4.7 1.6 2.7 1.9 3.2l-.4.3c-.2-.3-.7-1.2-.7-1.3l-1.7.1c-.1.1-.4.9-.5 1.1l-.4-.2zm2.4-1.3c-.1-.1-.6-1.1-.7-1.2-.1.1-.6 1.2-.7 1.3l1.4-.1zM11 49.7c0 .7 0 1.1.2 1.4.2.3.5.4.8.4.4 0 .7-.2.8-.4.2-.3.2-.9.2-1.6v-.2-.8h.5v1c0 .9-.1 1.4-.4 1.9-.3.3-.6.5-1.2.5-.3 0-.8 0-1.1-.6-.2-.3-.3-.7-.3-1.8v-.2-.7h.5v1.1zM15.3 51.8V49H14v-.4c.1 0 1.3.1 1.4.1h.4c.1 0 1.2 0 1.3-.1v.4h-1.3v.7c0 .9 0 2 .1 2.1h-.6zM18.5 51.8v-1c0-.6-.3-1.1-.6-1.4-.2-.2-.5-.4-.7-.5l.2-.4c.3.1.6.4.7.5.2.2.5.6.6 1 .1-.4.3-.7.6-.9.2-.2.6-.5.9-.6l.1.4c-.3.1-.6.3-.9.6-.3.4-.6.8-.6 1.3v1h-.3zM22.6 51.5c.5-.1 1.1-.3 1.1-.7 0-.2-.2-.4-.5-.5-.4-.2-.7-.4-.7-.7 0-.5.8-1 1.5-1.1l.1.4c-.3 0-1.1.2-1.1.6 0 .2.4.4.6.5.4.2.7.4.7.7 0 .5-.5 1-1.5 1.2l-.2-.4zM25.9 51.8V49h-1.3v-.4c.1 0 1.3.1 1.4.1h.4c.1 0 1.2 0 1.3-.1v.4h-1.3v.7c0 .9 0 2 .1 2.1h-.6zM28.6 49.7c0 .7 0 1.1.2 1.4.2.3.5.4.8.4.4 0 .7-.2.8-.4.2-.3.2-.9.2-1.6v-.2-.8h.5v1c0 .9-.1 1.4-.4 1.9-.3.3-.6.5-1.2.5-.3 0-.8 0-1.1-.6-.2-.3-.3-.7-.3-1.8v-.2-.7h.5v1.1zM32.4 49.8v-1.2h1.2c1.6.1 1.8.9 1.8 1.2 0 1.5-1.7 2-3 2v-2zm.4 1.6c1.3-.1 2-.8 2-1.5s-.7-1-2-1v2.5zM36.7 50.4v1.4h-.5v-1.9-1.3h.5v1.8zM37.7 50.4c0-1 .8-1.9 1.9-1.9 1 0 1.7.6 1.7 1.6 0 .7-.5 1.8-1.9 1.8-1.1 0-1.7-.7-1.7-1.5zm3.1-.3c0-.8-.6-1.2-1.2-1.2-.9 0-1.4.6-1.4 1.4 0 .7.5 1.2 1.2 1.2s1.4-.5 1.4-1.4zM44.4 48.6V51.5h1.2v.4h-1.7V50v-1.3h.5zM47.1 48.6V51.5h1.2v.4h-1.7V50v-1.3h.5zM51.5 51.9h-.6c-1.7 0-2.1-.9-2.1-1.4 0-.8.7-1.7 2.4-2l.1.4c-1.1.1-2 .7-2 1.5 0 .5.5 1.1 1.6 1.1.2 0 .4 0 .5-.1l.1.5z"/>
</svg>     
    </a>


    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">HOME</a></li>
      <li><a href="/#about">ABOUT US</a></li>
      <li><a href="/contact">CONTACT</a></li>      
      <li><a href="/stylists">STYLISTS</a></li>      
      <li><a href="/pricelist">PRICE LIST</a></li>      
      <li><a class="dropdown-button" href="#!" data-activates="gallery-desktop">GALLERY<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/bookapt">BOOK APPT</a></li>

      {{#if data.users}}
      <li class="active"><a class="dropdown-button" href="#!" data-activates="manager-desktop">MANAGER<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/logout">LOGOUT</a></li> 
      {{/if}}


    </ul>

     {{#if data.users}}
      <ul id="manager-desktop" class="dropdown-content">
        <li><a href="/dashboard">Manage Appt</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Add Content</a></li>
      </ul>      
      <ul id="manager-mobile" class="dropdown-content">
        <li><a href="/dashboard">Manage Appt</a></li>
        <li class="divider"></li>
        <li><a href="/calendar">Calender</a></li>
        <li class="divider"></li>
        <li><a href="/upload">Add Content</a></li>
      </ul>
      {{/if}}

      <ul id="gallery-desktop" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>
      
      <ul id="gallery-mobile" class="dropdown-content">
        <li><a href="/lookbook">Look Book</a></li>
        <li class="divider"></li>
        <li><a href="/videos">Videos</a></li>
      </ul>



    <ul class="side-nav" id="mobile-demo"> 
      <li><a href="/"><i class="material-icons">home</i>HOME</a></li>      
      <li><a href="/#about"><i class="material-icons">info</i>ABOUT US</a></li>
      <li><a href="/contact"><i class="material-icons">contacts</i>CONTACT</a></li>
      <li><a href="/stylists"><i class="material-icons">account_box</i>STYLISTS</a></li>
      <li><a href="/pricelist"><i class="large material-icons">assignment</i>PRICE LIST</a></li>   
      <li><a class="dropdown-button" href="#!" data-activates="gallery-mobile"><i class="material-icons">photo_library</i>GALLERY<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li><a href="/bookapt"><i class="material-icons">date_range</i>BOOK APPT</a></li>

      {{#if data.users}}   
      <li class="active"><a class="dropdown-button" href="#!" data-activates="manager-mobile"><i class="material-icons">supervisor_account</i>MANAGER<i class="material-icons right">arrow_drop_down</i></a></li> 
      <li><a href="/logout"><i class="fa fa-sign-out material-icons" aria-hidden="true"></i>LOGOUT</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
<!-- NAVIGATION -->

{{{body}}}

<footer class="page-footer">
  <div class="footer-copyright">
  <div class="container">
  © Sache´ Beauty Studio
  <div class="right">
    <a class="fa fa-facebook fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.facebook.com/sache.beauty.studio" target="_blank"></a>
    <a class="fa fa-twitter fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://twitter.com/sachebeauty" target="_blank"></a>
    <a class="fa fa-linkedin fa-lg grey-text text-lighten-3" style="padding-left:10px;" href="https://www.linkedin.com/in/sache-beauty-studio-llc-ba749657" target="_blank"></a>
  </div>
  </div>
  </div>
</footer>

  <!-- Jquery -->
  <script type="text/javascript" src="/public/js/jquery.min.js"></script> 
  <!-- Materialize Js  -->
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  <!-- Handlebars Js  -->  
  <script type="text/javascript" src="/public/js/handlebars.min.js"></script>
  <!-- Clockpicker Js  -->  
  <script type="text/javascript" src="/public/js/materialize.clockpicker.js"></script>
  <!-- Calendar Js  --> 
  <script type="text/javascript" src="/public/js/dhtmlxscheduler.js"></script>
   <!-- Main Js  -->  
  <script type="text/javascript" src="/public/js/main.js"></script>


</body>
</html>



