<div class="row"></div>

<div class="container headings">
  <h1>Book Appt</h1>
  <i class="large material-icons">date_range</i>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
<div class="col s12 m12 l12">
<script type="text/javascript" src="/public/js/sache.plugin.js"></script>
</div>
</div>