<div class="row">

  <div class="mycarousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white-text" href="/bookapt">Request Appointment</a>
    </div>

    <div class="carousel-arrows">
      <a class="waves-effect waves-light btn-large black lighten-1 white-text left" onClick="prev()"><i class="material-icons">chevron_left</i></a>

      <a class="waves-effect waves-light btn-large black lighten-1 white-text right" onClick="next()"><i class="material-icons">chevron_right</i></a>
    </div>


    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
        <div class="valign center caroucel-details">
          <h2 class="white-text">Welcome to Sache´ Beauty Studio LLC</h2>
        </div>
      </div> 
      <img src="/public/img/bg1.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg2.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg3.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg4.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg5.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg6.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg7.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg8.jpg" class="caroucel-img" alt="">
    </div>

  </div>{{!--Carousel --}}

</div>

<div class="row"></div>

<div class="container headings">
  <h2 id="about">About Us</h2>
  <hr>
  <p>Saché Beauty Studio LLC is a Multi-Cultural salon for women, located in the Blue Grass Plaza in Northeast Philadelphia, Pennsylvania. Our stylists have a wide range of experience and have been doing business in the cosmetology field for a number of years.  Some of our stylist are also licensed Cosmetology Teachers in the state of Pennsylvania. We attend continuing education seminars, classes and hair shows regularly to keep up with new trends and products.
  </p>

  <p>We Care for your Hair. Our main focus is hair health.  Whether you have natural ethnic hair, fine or thin, color treated or chemically treated hair, we are able to help you maintain healthy hair while looking your best with trending hairstyles. We will guide you on the use of home maintenance products suited to your needs. There is no need to have a closet full of products for your hair. We will have a thorough consultation to determine what’s best for you. Our Hair and Scalp Treatments will help strengthen your hair to avoid breakage and shedding.</p>

</div>


<div class="row"></div>
<div class="row"></div>

<div class="container headings">
  <h2>Our Specialty</h2>
  <hr>
  <p>We specialize in hair extension services such as Sew-in Weaves, Malaysian Braidless Sew-in, Micro Bead extensions and Crochet Braids.</p>
</div>


<div class="row"></div>
<div class="row">

  <div class="col s12 m6 l3"> 

    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/public/img/extensions.jpg">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Individual - Micro Bead Extensions<i class="material-icons right">more_vert</i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Less<i class="material-icons right">close</i></span>
        <p>Individual Strands or Micro Bead Hair Extensions is a technique we offer here at Sache Beauty Studio LLC.</p>

        <p>This technique is achieved by attaching individual strands of hair extensions to your own hair with a micro ring. It gives a more natural appearance and is great for someone who is on the go and wants the freedom of rocking their hair up in a pony or down looking lovely.</p>

        <p>This look can be be used to give a client temporary highlights/lowlights  and many other colors as well without going through the whole color process. The installation can last up to 4 months with proper care and maintenance. Call for Consultation.</p>
      </div>

    </div>{{!-- card --}}

  </div>{{!-- col --}}


  <div class="col s12 m6 l3"> 

    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/public/img/braids.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Crochet - Interloc - Latchhook Braids<i class="material-icons right">more_vert</i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Less<i class="material-icons right">close</i></span>
        <p>Interloc Braids better known as Crochet Braids is an old but now Trending style that's captivating almost everyone today. It can be used to attached faux locs and many different curl or wave textures. This style is created by simply braiding down the clients hair in cornrows  and then attaching hair extensions through the braids using a latch hook.</p>

        <p>This style is a great protective style for someone who is transitioning from chemical treated hair. The hair extensions used for crochet braids comes in many curl patterns and textures to suite your style. This hair style could last up to 3 month with proper care and maintenance. You are still able to wash your hair with the crochet braids in as well as keeping your scalp nice and nourished.</p>
      </div>

    </div>{{!-- card --}}

  </div>{{!-- col --}}


  <div class="col s12 m6 l3"> 

    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/public/img/weft.jpg">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Beaded Weft and Tape Extensions<i class="material-icons right">more_vert</i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Less<i class="material-icons right">close</i></span>
        <p>We use the beaded-weft method which is very easy on your hair and leaves you with a natural flow and bounce. This method is great for all hair textures and nationalities and last approximately 2 months depending on how quickly your hair grows. There is no braiding, gluing or sewing. Hair wefts can be used over and over again. We also provide a treatment service for your wefts between use and our install fees are very affordable.</p>

        <p>This style is a great protective style for someone who is transitioning from chemical treated hair. The hair extensions used for crochet braids comes in many curl patterns and textures to suite your style. This hair style could last up to 3 month with proper care and maintenance. You are still able to wash your hair with the crochet braids in as well as keeping your scalp nice and nourished.</p>

        <label>This method is perfect for</label>
        <ul>
          <li>◊ Dimensional Color</li> 
          <li>◊ Highlights</li>
          <li>◊ Lowlights</li>
          <li>◊ Bangs</li>
          <li>◊ Body</li>
          <li>◊ Fullness</li>
          <li>◊ Length</li>
          <li>◊ Enhancements</li>
          <li>◊ Ombre</li>
        </ul>
        <p>So, if you are looking for that new look without any hassle, give us a call to schedule an appointment.</p>
      </div>

    </div>{{!-- card --}}

  </div>{{!-- col --}}

  <div class="col s12 m6 l3"> 

    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/public/img/sewin.jpg">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Sew In Weaves and Braidless Sew Ins<i class="material-icons right">more_vert</i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Less<i class="material-icons right">close</i></span>
        <p>The Sew In Weaves are achieved by braiding down the clients hair in a chosen pattern and sewing hair wefts to create as natural a look as possible.  Clients have to option of braiding all of their hair away or doing a leave out where just enough of their natural is left out to create the most natural illusion.</p>

        <p>Like the Beaded Weft this method is great for all hair textures and nationalities this technique last for 2 months depending on how quickly your hair grows.  There is no braiding, or use of glue/bond. However, the wefts are sewn to a beaded foundation for more durability. </p>

        <p>This technique gives off a nice natural appearance it can be installed to create length, fullness or to add color. The installation is best when the hair extensions are the same texture as your own hair, due to the fact that your own hair will be blended with the extensions to achieve a more natural look.</p>
      </div>

    </div>{{!-- card --}}

  </div>{{!-- col --}}

</div>{{!-- row --}}





