<div class="row">

  <div class="mycarousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white-text" href="/bookapt">Request Appointment</a>
    </div>

    <div class="carousel-arrows">
      <a class="waves-effect waves-light btn-large black lighten-1 white-text left" onClick="prev()"><i class="material-icons">chevron_left</i></a>

      <a class="waves-effect waves-light btn-large black lighten-1 white-text right" onClick="next()"><i class="material-icons">chevron_right</i></a>
    </div>


    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
        <div class="valign center caroucel-details">
          <h2 class="white-text">Welcome to Sache´ Beauty Studio LLC</h2>
        </div>
      </div> 
      <img src="/public/img/bg1.jpg" class="caroucel-img" alt="">
    </div>

    <div class="carousel-item">
      <div class="caroucel-overlay center valign-wrapper">
      </div> 
      <img src="/public/img/bg2.jpg" class="caroucel-img" alt="">
    </div>

  </div>{{!--Carousel --}}

</div>

<div class="row"></div>

<div class="container headings">
  <h2 id="about">About Us</h2>
  <hr>
  <p> About Sache´ </p>
</div>


<div class="row"></div>
<div class="row"></div>

<div class="container headings">
  <h2>Our Specialty</h2>
  <hr>
</div>

<div class="row">
  
  <div class="col s12 m12 l4">  
    <div class="headings">
      <h3>Hair Extensions</h3>
      <hr>
    </div>
    <div class="center">
      <img src="/public/img/extensions.jpg" class="circle responsive-img materialboxed" alt="sache_beauty_studio_specialty_extensions">
      <p>Get hair extensions at Sache´. Add extra length or a special style with Sache´s selection of hair extensions and professional installation.</p>
      <a href="#ext-content" id='hideshow1'>Learn More</a>
      <p id="ext-content" style="display:none;">Individual Strands or Micro Loop Hair Extensions is a technique we offer here at Sache´ Beauty Studio LLC. This technique is achieved by attaching individual strands of hair extensions to your own hair with a micro ring. It gives a more natural appearance and is great for someone who is on the go and wants the freedom of rocking their hair up in a pony or down looking lovely. This look can be be used to give a client temporary highlights/lowlights  and many other colors as well without going through the whole color process. The installation can last up to 4 months with proper care and maintenance.</p>
    </div>
    <div class="row"></div>
    <div class="row"></div>
  </div>

  <div class="col s12 m12 l4">  
    <div class="headings">      
    <h3>Braids</h3>
      <hr>
    </div>
    <div class="center">
      <img src="/public/img/braids.png" class="circle responsive-img materialboxed" alt="sache_beauty_studio_specialty_braids">
      <p>Braids are an easy and so pleasant way to forget about hair styling for months while protecting it from harsh environmental factors.</p>
      <a href="#bra-content" id='hideshow2'>Learn More</a>
      <p id="bra-content" style="display:none;">Interlock Braids better known as Crochet Braids is an old but now Trending style thats captivating almost everyones today. This style is the #1 most requested service here at Sache´ Beauty Studio LLC. This style is created by simply braiding down the clients hair in cornrows  and then attaching hair extensions through the braids using a latch hook. This style is a great protective style for someone who is transitioning from chemical treated hair. The hair extensions used for crochet braids comes in many curl patterns and textures to suite your style. This hair style could last up to 3 month with proper care and maintenance. You are still able to wash your hair with the crochet braids in as well as keeping your scalp nice and nourished.</p>
    </div>
    <div class="row"></div>
    <div class="row"></div>
  </div>

  <div class="col s12 m12 l4">  
    <div class="headings">
      <h3>Braidless Sew In</h3>
      <hr>
    </div>
    <div class="center">
      <img src="/public/img/sewin.jpg" class="circle responsive-img materialboxed" alt="sache_beauty_studio_specialty_sewin">
      <p>Sache´ offers beautiful and natural hair weaving that provides flexibility with styling and comfort.</p>
      <a href="#sew-content" id='hideshow3'>Learn More</a>
      <p id="sew-content" style="display:none;">Like the Beaded Weft this method is great for all hair textures and nationalities this technique last for 2 months depending on how quickly your hair grows.  There is no braiding, or use of glue/bond. However, the wefts are sewn to a beaded foundation for more durability. This technique gives off a nice natural appearance it can be installed to create length, fullness or to add color. The installation is best when the hair extensions are the same texture as your own hair, due to the fact that your own hair will be blended with the extensions to achieve a more natural look. </p>
    </div>
  </div>
</div>