<div class="row">

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="/products">Shop Now</a>
    </div>

    <div class="carousel-arrows">
      <a class="waves-effect waves-light btn-large black lighten-1 white-text left" onClick="prev()"><i class="material-icons">chevron_left</i></a>

      <a class="waves-effect waves-light btn-large black lighten-1 white-text right" onClick="next()"><i class="material-icons">chevron_right</i></a>
    </div>


    <div class="carousel-item" href="#one!">
      <div class="caroucel-overlay center valign-wrapper">
        <div class="valign center caroucel-details">
          <h2 class="white-text">Welcome to Caragol Zaina & Trading</h2>
          <p class="white-text">Mediterranean Delights</p>
        </div>
      </div> 
      <img src="/public/img/carousel1.png" class="caroucel-img">
    </div>

    <div class="carousel-item" href="#two!">
      <div class="caroucel-overlay center valign-wrapper">
        <div class="valign center caroucel-details">
          <h2 class="white-text">Caragol Zaina Import Brokers</h2>
          <p class="white-text">#1 Olive Importers</p>
        </div>
      </div> 
      <img src="/public/img/carousel2.jpg" class="caroucel-img">
    </div>

  </div>{{!--Carousel --}}

</div>

<div class="row"></div>

<div class="container headings">
  <h2 id="about">About Us</h2>
  <hr>
  <p>Zaina was founded by Aziz Debbagh and Bachir Debbagh and is one of the leading producers of specialty ingredients in Morocco. The company focuses on producing  high quality Olives, Olive Oil, Peppers, Capers,  Sardines, Anchovies among many other Mediterranean Products.  . With the extraordinary ability for combining age old tradition with modern efficiency and technology, Zaina is passionate about bringing Morocco's culinary legacy into the 21st Century across the globe.</p>

  <p>Joseph Caragol is the force behind Caragol, a company steeped in rich history and experience. Reaching back to 1915, the exceptional food quality and export knowledge of the company's grandfather Antonio Bartomeo Caragol resulted in posthumous acknowledgment and rewards from the King of Spain in the years 1918 to 1925.  He was also  honoured with the Medal of Gold  for promoting and successfully running trade between the US and Spain back in 1923. As past informs future, Caragol thrives today under the esteemed guidance of Joseph Caragol who represents the knowledge of his lineage and the promise of the company’s future.</p>

  <p>Fuelled by a great common passion to provide quality imported ingredients at impressively affordable prices, Joseph Caragol Head of Caragol and Aziz Debbagh Head of Zaina combine forces to create Caragol & Zaina. With unsurpassable expertise and respect in their fields, Mr. Debbagh and Mr. Caragol resource their inventory from top growers around the world to ensure the highest characteristics for all of their imports. From Africa to South America, Europe to the Middle East and beyond, every product under the C&Z name is meticulously sourced for steadfast excellence.</p>
</div>

<div class="row"></div>

<div class="container headings">
  <h2>Mission</h2>
  <hr>
  <h6> Caragol & Zaina's mission is to broker and sell exceptional products at excellent prices</h6>
</div>

<div class="row"></div>
<div class="row"></div>

<div class="container headings">
  <h2>Our Services</h2>
  <hr>
</div>

<div class="row">

  <div class=" center">  
    <div class="headings">
      <i class="material-icons">account_balance</i>
      <h6>Import Stock Brokers</h6>
      <p>We are licensed, regulated and empowered by U.S. Customs and Border Protection (CBP) to assist importers and exporters in meeting Federal requirements governing imports and exports.</p>
    </div>
  </div>

</div>
<div class="row"></div>





