<div class="row"></div>

{{#if error}}
<div class="error"><span>{{this.error}}</span></div>
{{/if}}


<div class="container headings">
  <h1>Login</h1>
  <i class="large material-icons">supervisor_account</i>
  <hr>
</div>
<div class="row"></div>

<div class="row">
  <form class="col s12 m12 l12" name="login" action="/login" method="post">

    <div class="input-field col s12 m12 l12">
      <i class="material-icons prefix">account_box</i>
      <input id="username" name="username" type="text" class="validate" required="required">
      <label for="username">Enter User Name</label>
    </div>

    <div class="input-field col s12 m12 l12">
      <i class="material-icons prefix">lock</i>
      <input id="password" name="password" type="password" class="validate" required="required">
      <label for="password">Enter Password</label>
    </div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="center">
      <button class="btn-large waves-effect waves-light" type="submit" name="login"><i class="material-icons left">vpn_key</i>Login<i class="material-icons right">vpn_key</i></button>     
    </div>

  </form>
</div>










