<div class="row"></div>

<div class="container headings">
  <h1>Look Book</h1>
  <i class="large material-icons">image</i>
</div>

<div class="row"></div>
<div class="row"></div>


<a href="#" id="back-to-top" title="Back to top"><i class="material-icons">arrow_upward</i></a>

<div class="row">
	{{#each data.services}}
	<div class="container headings">
		<h2 class="center">{{this.name}}</h2>
		<hr>
	</div>

	<div class="swap"><i class="material-icons">swap_horiz</i></div>
	<div class="carousel">
		{{#each this.galleries}}
		<a class="carousel-item" href="#!"><img src="{{this.imageUrl}}" alt="sache_gallery_images"></a>
		{{/each}}
	</div>
	<div class="row"></div>
	<div class="row"></div>
	{{/each}}
</div>