<div class="row"></div>

<div class="container headings">
  <h1>Look Book</h1>
  <i class="large material-icons">image</i>
  <hr>
</div>
<div class="row"></div>

<div class="row">
<h2 class="center">Extensions</h2>
<div class="carousel">
{{#each data.gallery}}
{{#is this.category "extensions"}}
<a class="carousel-item" href="#"><img src="{{this.imageUrl}}" alt="sache_gallery_images"></a>
{{/is}}
{{/each}}
</div>
</div>

<div class="row"></div>
<div class="row"></div>


<div class="row">
<h2 class="center">Braids</h2>
<div class="carousel">
{{#each data.gallery}}
{{#is this.category "braids"}}
<a class="carousel-item" href="#"><img src="{{this.imageUrl}}" alt="sache_gallery_images"></a>
{{/is}}
{{/each}}
</div>
</div>

<div class="row"></div>
<div class="row"></div>

<div class="row">
<h2 class="center">Sew In's</h2>
<div class="carousel">
{{#each data.gallery}}
{{#is this.category "sewin"}}
<a class="carousel-item" href="#"><img src="{{this.imageUrl}}" alt="sache_gallery_images"></a>
{{/is}}
{{/each}}
</div>
</div>

<div class="row"></div>
<div class="row"></div>
