<div class="row"></div>

<div class="container headings">
  <h1>Look Book</h1>
  <i class="large material-icons">image</i>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<a href="#" id="back-to-top" title="Back to top"><i class="material-icons">arrow_upward</i></a>

{{#sort data.gallery 'micro_bead_extensions' 'Micro Bead Extensions'}}{{/sort}}

{{#sort data.gallery 'braids' 'Crochet Latchhook Braids'}}{{/sort}}

{{#sort data.gallery 'bead_weft_extensions' 'Tape Extensions'}}{{/sort}}

{{#sort data.gallery 'malaysian_sewin' 'Malaysian Sew In'}}{{/sort}}




{{!-- 

{{#sort data.gallery 'bead_strands' 'Bead Strands'}}{{/sort}}

{{#sort data.gallery 'glue_caps' 'Glue Caps'}}{{/sort}}

{{#sort data.gallery 'color_treatments' 'Color Treatments'}}{{/sort}}

{{#sort data.gallery 'texture_reformation' 'Texture Reformation'}}{{/sort}}

{{#sort data.gallery 'press_curl' 'Press Curl'}}{{/sort}}

{{#sort data.gallery 'haircuts' 'Haircuts'}}{{/sort}} --}}

