<div class="row"></div>

<div class="container headings">
  <h1>Place Order</h1>
  <i class="material-icons">shopping_cart</i>
  <hr>
</div>

<div class="row">

  <form class="col s12 m12 l12" name="order">
    

    <div class="row form-section">

      <div class="form-heading">
        <i class="material-icons medium">info</i>
        <h2>Product Information</h2>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">subject</i>
        <input id="productName" name="productName" type="text" class="validate" required>        
        <label for="productName">Enter Product Name</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">description</i>
        <input id="productDes" name="productDes" type="text" class="validate" required>
        <label for="productDes">Enter Product Description</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">dashboard</i>
        <select id="productSize" name="productSize" class="validate offset-l2" required>
          <option value="" disabled selected>Choose Product Size</option>
          <option value="Kilos" data-icon="/public/img/killogram.png">Kilos</option>
          <option value="Cases" data-icon="/public/img/case.png">Cases</option>
          <option value="Pallets" data-icon="/public/img/pallet.png">Pallets</option>
          <option value="Barrels" data-icon="/public/img/barrel.png">Barrels</option>
          <option value="Containers" data-icon="/public/img/container.png">Containers</option>
        </select>        
        <label for="productSize">Select Product Size</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">assessment</i>
        <input id="quantity" name="quantity" type="number" class="validate" required>
        <label for="quantity">Enter Quantity of Size Selected</label>
      </div>

    </div>

    <div class="row form-section">

      <div class="form-heading">
        <i class="material-icons medium">credit_card</i>
        <h2>Billing Information</h2>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">account_box</i>
        <input id="company" name="company" type="text" class="validate" required>
        <label for="company">Enter Company Name</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">email</i>
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Enter Email</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">phone</i>
        <input id="tell" name="tell" type="tel" class="validate" required>
        <label for="tell">Enter Telephone</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">business</i>
        <input id="billingAddress" name="billingAddress" type="text" class="validate" required>
        <label for="billingAddress">Enter Billing Address</label>
      </div>

    </div>

    <div class="row form-section">

      <div class="form-heading">
        <i class="material-icons medium">local_shipping</i>
        <h2>Shipping Information</h2>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">business</i>
        <input id="shippingAddress" name="shippingAddress" type="text" class="validate" required>
        <label for="shippingAddress">Enter Shipping Address</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">access_time</i>
        <input id="shipDate" name="shipDate" type="text" class="datepicker" required>
        <label for="shipDate">Select Estimated Time of Arival</label>
      </div>

    </div>

    <div class="row"></div>

    <button class="btn waves-effect waves-light right margin" type="button" name="order" onClick="submitOrder()">Order<i class="material-icons right">send</i></button>     

    <div class="row"></div>
    <div class="row"></div>
  
  </form>    
</div>

<!-- MODAL -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <p class="center"><img src="/public/img/success.svg" alt="ordersuccess" class="responsive-img"></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn" href="/products">Continue Shopping</a></p>
  </div>
</div>  

<!-- MODAL -->
<div id="formError" class="modal">
  <div class="modal-content">
    <p class="center"><img src="/public/img/permission.svg" alt="form_error" class="responsive-img"></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn" href="#">close</a></p>
  </div>
</div>


