<div class="row" ></div>

<div class="container headings">
  <h1>Price List</h1>
  <i class="large material-icons">assignment</i>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>



<ul class="collapsible popout" data-collapsible="accordion">
{{#each services}}
<li>
<div class="collapsible-header">
<span class="truncate">{{this.name}}</span><i class="material-icons right">arrow_drop_down</i></div>
  <div class="collapsible-body">
  <table class="striped centered" >
        <tbody>
          {{#each category}}
          <tr>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
          </tr>
          {{/each}}
          </tbody>
    </table>
  </div>
</li>
{{/each}}
</ul>