<div class="row" ></div>

<div class="container headings">
  <h1>Price List</h1>
  <i class="large material-icons">assignment</i>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>



<ul class="collapsible popout" data-collapsible="accordion">
{{#each services}}
<li>
<div class="collapsible-header">{{this.name}}<i class="material-icons right">arrow_drop_down</i></div>
  <div class="collapsible-body">
  <table class="striped" >
        <tbody>
          {{#each service}}
          <tr>
            <td>{{this.serviceName}}</td>
            <td>${{this.servicePrice}}</td>
          </tr>
          {{/each}}
          </tbody>
    </table>
  </div>
</li>
{{/each}}
</ul>


{{!-- <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">BRAIDING<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped" >
        <tbody>
          <tr>
            <td>BANTU KNOTS</td>
            <td>$45.00</td>
          </tr>
          <tr>
            <td>COILS/no shampoo/starting price</td>
            <td>$55.00</td>
          </tr>
          <tr>
            <td>COILS/with shampoo</td>
            <td>$65.00</td>
          </tr>
          <tr>
            <td>FINGER TWIST/no shampoo</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>KIDS-SHAMPOO BLOWDRY BRAID-SIMPLE</td>
            <td>$40.00</td>
          </tr>
          <tr>
            <td>SIMPLE KIDS BRAIDS CONROW/no shampoo</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>TWO STRAND/no shampoo/without extensions</td>
            <td>$65.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">COLOR TREATMENTS<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped">
        <tbody>
          <tr>
            <td>BAYALAGE</td>
            <td>$110.00</td>
          </tr>
          <tr>
            <td>COLOR RE-TOUCH</td>
            <td>$65.00</td>
          </tr>
          <tr>
            <td>DEMI COLOR</td>
            <td>$65.00</td>
          </tr>
          <tr>
            <td>DOUBLE COLOR OMBRE</td>
            <td>$125.00</td>
          </tr>
          <tr>
            <td>DOUBLE PROCESS COLOR</td>
            <td>$125.00</td>
          </tr>
          <tr>
            <td>FULL FOIL/highlight</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>OMBRE COLOR</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>PARTIAL FOIL/highlight</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>TRIPLE COLOR OMBRE</td>
            <td>$150.00</td>
          </tr>
          <tr>
            <td>VIRGIN COLOR/MID BACK LENGTH</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>VIRGIN COLOR/SHOULDER LENGTH HAIR</td>
            <td>$85.00</td>
          </tr>
          <tr>
            <td>WEAVE COLOR ADD ON PER BUNDLE</td>
            <td>$20.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">BEADED WEFT<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped" >
        <tbody>
          <tr>
            <td>BEADED WEFT FULL HEAD/no shampoo</td>
            <td>$110.00</td>
          </tr><tr>
            <td>BEADED WEFT PER TRACK</td>
            <td>$15.00</td>
          </tr><tr>
            <td>BEADED WEFT TIGHTEN PER TRACK</td>
            <td>$6.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">SHAMPOO BASICS<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
        <table class="striped" >
        <tbody>
          <tr>
            <td>BLOWDRY/regular</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>FINGER WAVES </td>
            <td>$45.00</td>
          </tr>
          <tr>
            <td>HAIR and SCALP REJUVENATION TREATMENT</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>HYDRATING DEEP TREATMENT</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>NIOXIN SCALP TREATMENT and SHAMPOO</td>
            <td>$60.00</td>
          </tr>
          <tr>
            <td>NIOXIN TREATMENT add on</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td>OLAPLEX HAIR TREATMENT-SHAMPOO STYLE</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>PONYTAIL /with shampoo</td>
            <td>$55.00</td>
          </tr>
          <tr>
            <td>PRESS AND STYLE/no shampoo</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>ROD SET</td>
            <td>$60.00</td>
          </tr>
          <tr>
            <td>SHAMPOO & DEEP TREATMENT (ONLY-NO BLOWDR)</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>SHAMPOO BLOWDRY</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>SHAMPOO BLOWDRY MOLD STYLE</td>
            <td>$50.00</td>
          </tr>          
          <tr>
            <td>SHAMPOO BLOWDRY STYLE</td>
            <td>$45.00</td>
          </tr>
          <tr>
            <td>SHAMPOO PRESS CURL</td>
            <td>$45.00</td>
          </tr>
          <tr>
            <td>SHAMPOO STYLE-WEAVE</td>
            <td>$55.00</td>
          </tr>
          <tr>
            <td>SHAMPOO, ROLLER SET AND COMB-OUT</td>
            <td>$45.00</td>
          </tr>
          <tr>
            <td>SHAPE UP & SHAMPOO</td>
            <td>$30.00</td>
          </tr>
          <tr>
            <td>SILK WRAP</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>SPECIALTY UPDO </td>
            <td>$55.00</td>
          </tr>
          <tr>
            <td>STYLE ONLY</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>THERAPEUTIC SCALP TREATMENT</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td>WAND CURLS</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>WEAVE WASH (TRACKS ONLY)</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>WIG SWITCH & SHAMPOO</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>WIG SWITCH NO SHAMPOO</td>
            <td>$25.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">CROCHET BRAIDS<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped" >
        <tbody>
          <tr>
            <td>CROCHET BRAIDS</td>
            <td>$115.00</td>
          </tr>
          <tr>
            <td>ROD SET ON HAVANA/marley hair</td>
            <td>$35.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">SEW IN WEAVE<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
        <table class="striped" >
        <tbody>
          <tr>
            <td>CLOSURE INSTALL</td>
            <td>$35.00</td>
          </tr>
          <tr>
            <td>FULL SEW IN WITH CLOSURE/no shampoo</td>
            <td>$125.00</td>
          </tr>
          <tr>
            <td>FULL SEW IN WITH FRONTAL</td>
            <td>$135.00</td>
          </tr>
          <tr>
            <td>FULL SEW-IN WITH NET/no shampoo</td>
            <td>$110.00</td>
          </tr>
          <tr>
            <td>FULL SEW-IN WITH/NO SHAMPOO</td>
            <td>$105.00</td>
          </tr>
          <tr>
            <td>GLUE CAPS (no terra)</td>
            <td>$85.00</td>
          </tr>
          <tr>
            <td>HALF head sew-in/ STYLE</td>
            <td>$85.00</td>
          </tr>
          <tr>
            <td>PARTIAL SEW IN WITH NET/no shampoo</td>
            <td>$105.00</td>
          </tr>
          <tr>
            <td>PARTIAL SEW IN/no shampoo</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>SEW IN PER TRACK</td>
            <td>$12.00</td>
          </tr>
          <tr>
            <td>TWO WAY SEW IN</td>
            <td>$120.00</td>
          </tr>
          <tr>
            <td>VIXEN SEW IN/ select stylist only-call </td>
            <td>$150.00</td>
          </tr>
          <tr>
            <td>WEAVE REMOVAL</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>WEAVE TIGHTEN (NO SHAMPOO</td>
            <td>$40.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">CONSULTATION<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">      
      <table class="striped" >
        <tbody>
          <tr>
            <td>CONSULTATION</td>
            <td>$20.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">NATURAL STYLES<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table id="naturalstyles" class="striped" >
        <tbody>
          <tr>
            <td>LOC EXTENSIONS</td>
            <td>$150.00</td>
          </tr>
          <tr>
            <td>LOC MAINTENANCE/LARGE LOCS</td>
            <td>$80.00</td>
          </tr>
          <tr>
            <td>LOC MAINTENENCE/SMALL/MEDIUM</td>
            <td>$100.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">HAIRCUT<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">      
      <table class="striped" >
        <tbody>
          <tr>
            <td>HAIRCUT</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>SHAPEUP</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>TRIM</td>
            <td>$10.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">EYELASH<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped" >
        <tbody>
          <tr>
            <td>INDIVIDUAL EYELASH</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>LASH STRIP</td>
            <td>$15.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">MALAYSIAN BRAIDLESS<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">      
      <table class="striped" >
        <tbody>
          <tr>
            <td>MALAYSIAN BRAIDLESS SEW-IN 1 ROW</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>MALAYSIAN BRAIDLESS SEW-IN 4 ROWS</td>
            <td>$80.00</td>
          </tr>
          <tr>
            <td>MALAYSIAN BRAIDLESS SEW-IN 6 ROWS</td>
            <td>$120.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">RELAXER SERVICES<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">      
      <table class="striped" >
        <tbody>
          <tr>
            <td>RELAXER RE-TOUCH</td>
            <td>$60.00</td>
          </tr>
          <tr>
            <td>SENSITIVE SCALP RELAXER</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>TEXTURIZER</td>
            <td>$65.00</td>
          </tr>
          <tr>
            <td>VIRGIN RELAXER</td>
            <td>$85.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">PERMANENT WAVING<i class="material-icons right">arrow_drop_down</i></div>
      <div class="collapsible-body">
      <table class="striped" >
        <tbody>
          <tr>
            <td>WAVE NOUVEAU</td>
            <td>$95.00</td>
          </tr>
        </tbody>
      </table>
      </div>
    </li>
  </ul> --}}