<div class="row"></div>

<div class="container headings">
  <h1>Recipes</h1>
  <i class="material-icons">local_dining</i>
  <hr>
</div>

<div class="container headings">
  <h2>Sliced Olives with Shrimp</h2>
   <hr>
</div>

<div class="row">

<div class="col s12 m12 l6">
  <ul class="collection">  
  <h6 class="center">Ingredients</h6>
  <li class="collection-item">2 pounds unpeeledlarge raw shrimp (21/25 count)</li>
  <li class="collection-item">1 1/2 cups white vinegar</li>
  <li class="collection-item">1 cup vegetable oil</li>
  <li class="collection-item">1/2 cup sugar</li>
  <li class="collection-item">1/4 cup capers undrained</li>
  <li class="collection-item">1 1/2 teaspoons celery salt</li>
  <li class="collection-item">1/2 salt</li>
  <li class="collection-item">1 medium-size red or white onion sliced and separated into rings</li>
  <li class="collection-item">1/2 cup sliced olives rinsed and drained</li>
  </ul>

  <ul class="collection">  
  <h6 class="center">Preparation</h6>
  <li class="collection-item">Bring 6 cups salted water to a boil add shrimp and cook 3 minutes or just until shrimp turn pink. Drain and rinse with cold water. Peel shrimp leaving tails on. Devein if desired.</li>
  <li class="collection-item">Combine vinegar and next 5 ingredients in a shallow dish add shrimp alternately with onion and olives. Cover and chill 6 to 24 hours turning often. Drain shrimp mixture discarding liquid before serving.</li>
  </ul>
</div>

<div class="col s12 m12 l6">
  <img src="/public/img/olives_with_shrimp.jpg" class="responsive-img recipeImg" alt="">
</div>

</div>

<div class="row"></div>


  <div class="container headings">
    <h2>Garlic Beef with Cracked Green Olives</h2>
     <hr>
  </div>

<div class="row">
<div class="col s12 m12 l6">
    <ul class="collection">  
    <h6 class="center">Ingredients</h6>
    <li class="collection-item">3 tablespoons olive oil</li>
    <li class="collection-item">1 1/2 pounds lean beef chuck cut into 2- inch chunks</li>
    <li class="collection-item">2 pounds tomatoes coarsely chopped</li>
    <li class="collection-item">1 tablespoon ground cumin</li>
    <li class="collection-item">1/2 teaspoon pepper</li>
    <li class="collection-item">8 ounces pitted cracked green olives</li>
    <li class="collection-item">4 whole head of garlic papery outer skins removed</li>
    <li class="collection-item">1 tablespoon fresh lemon juice</li>
    <li class="collection-item">1/4 cup minced fresh flat-leaf parsley</li>
    </ul>

    <ul class="collection">  
    <h6 class="center">Preparation</h6>
    <li class="collection-item">Preheat the oven to 350 degrees F˚ in a medium Dutch oven or enameled casserole over medium-high heat. Heat the olive oil and cook the beef stirring until it is lightly browned 3 - 4 minutes.</li>
    <li class="collection-item">Add the tomatoes cumin pepper and olives. Nestle the heads of garlic among the chunks of meat. Cover and bake until the meat is tender 50 minutes to 1 hour. Remove from the oven. With a slotted spoon transfer the meat and the garlic to a serving platter to keep warm.</li>
    <li class="collection-item">Reheat the pan juices over medium heat and stir in the lemon juice. Cook stirring until the sauce is reduced by one third. Pour it over the reserved meat. Sprinkle with parsley and serve immediately with warm bread.</li>
    </ul>
</div>

<div class="col s12 m12 l6">
  <img src="/public/img/olives_with_beef.jpg" class="responsive-img recipeImg" alt="">
</div>

</div>











