<div class="row"></div>

<div class="container headings">
  <h1>Sizes</h1>
  <i class="material-icons">dashboard</i>
  <hr>
</div>

<div class="row">
<a href="{{back}}" class="back"><i class="material-icons brown-text">arrow_back</i></a>

<div class="col s12 m12 l12">
      <h2 class="center" id="olives">OLIVES IN CANS</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pitted Black</td>
            <td>6 *#A10</td>
          </tr>
          <tr>
            <td>Pitted Green</td>
            <td>26/29 - 6*5 kg</td>
          </tr>
          <tr>
            <td>Sliced Black</td>
            <td>6 * #A10</td>
          </tr>
          <tr>
            <td>Sliced Green</td>
            <td>6 * #A10</td>
          </tr>
          <tr>
            <td>Whole Black</td>
            <td>19/21 - 6*5 kg</td>
          </tr>
        </tbody>
      </table>        

      <div class="row"></div>
      <div class="row"></div>

      <h2 class="center">OLIVES IN VACCUMEDSEALED BAGS</h2>
      <table class="striped responsive-table centered" id="bags">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Oil Cured</td>
            <td>16/18 - 4*5 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>22/25 - 4*5 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>26/29 - 4*5 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>30/33 - 4*5 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>34/37 - 2*5 kg</td>
          </tr>
          <tr>
            <td>Pitted Oil Cured</td>
            <td>26/29 - 4*5 kg</td>
          </tr>
        </tbody>
      </table>      

      <div class="row"></div>
      <div class="row"></div>

      <h2 class="center">OLIVES IN DRUMS</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gaeta</td>
            <td>19/21 - 180 kg</td>
          </tr>
          <tr>
            <td>Gaeta</td>
            <td>26/29 - 180 kg</td>
          </tr>
          <tr>
            <td>Gaeta</td>
            <td>30/33 - 180 kg</td>
          </tr>
          <tr>
            <td>Green Cracked</td>
            <td>26/29 - 180 kg</td>
          </tr>
          <tr>
            <td>Nicoise</td>
            <td>38/42 - 180 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>19/21 - 180 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>22/25 - 180 kg</td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td>26/29 - 180 kg</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>26/29 - 180 kg</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>30/33 - 180 kg</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>38/42 - 170 kg</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>19/21- 180 kg</td>
          </tr>
          <tr>
            <td>Picholine Pitted</td>
            <td>26/29 -160 kg</td>
          </tr>
          <tr>
            <td>Pitted Green</td>
            <td>100/120 - 220 kg</td>
          </tr>
          <tr>
            <td>Pitted Green</td>
            <td>120/140 - 220 kg</td>
          </tr>
          <tr>
            <td>Pitted Green</td>
            <td>22/25 - 160 kg</td>
          </tr>
          <tr>
            <td>Pitted Green</td>
            <td>26/29 - 160 kg</td>
          </tr>  
        </tbody>
      </table>      

      <div class="row"></div>
      <div class="row"></div>

      <h2 class="center">OLIVES IN 8 oz Jars | 12 oz Jars | 5kg Pails</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>Kalamata</td>
            <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;16/18 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>

          </tr>
          <tr>
            <td>Mediterranean Mix</td>
            <td>19/21</td>
          </tr>
          <tr>
            <td>Nicoise</td>
            <td>38/42</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>16/18</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>19/21</td>
          </tr>
          <tr>
            <td>Picholine</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Picholines</td>
            <td>26/29</td>
          </tr>
          <tr>
            <td>Pitted Mediterranean Mix</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Pitted Oil Cured</td>
            <td>22/29</td>
          </tr>
          <tr>
            <td>Provencale Green</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Spicy Green</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Sliced Kalamata</td>
            <td></td>
          </tr>
          <tr>
            <td>Tcharmila Mix</td>
            <td>19/25</td>
          </tr>
          <tr>
            <td>Tunisan Green</td>
            <td>19/2</td>
          </tr>
          <tr>
            <td>Atlas Mix</td>
            <td></td>
          </tr>
          <tr>
            <td>Green Olives Stuffed</td>
            <td></td>
          </tr>
          <tr>
            <td>Green Picholine</td>
            <td></td>
          </tr>
          <tr>
            <td>Herbs de Provence Mix</td>
            <td></td>
          </tr>
          <tr>
            <td>Hot Green</td>
            <td></td>
          </tr>
          <tr>
            <td>Hot and Spicy Mix Olives</td>
            <td></td>
          </tr>
          <tr>
            <td>Marrakech Mix</td>
            <td></td>
          </tr>
          <tr>
            <td>Michelin</td>
            <td></td>
          </tr>
          <tr>
            <td>Oil Cured Olive with Herbs</td>
            <td></td>
          </tr>
          <tr>
            <td>Oil Cured</td>
            <td></td>
          </tr>
          <tr>
            <td>Whole Natural Black Olives</td>
            <td></td>
          </tr>
          <tr>
            <td>Berber Mix</td>
            <td>19/21</td>
          </tr>
          <tr>
            <td>Citrus Green/Hot pepper</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Citrus Green</td>
            <td>19/21</td>
          </tr>
          <tr>
            <td>Citrus Green</td>
            <td>22/25</td>
          </tr>
          <tr>
            <td>Gaeta</td>
            <td>30/33</td>
          </tr>
          <tr>
            <td>Green Cracked</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="anchovies">Anchovies</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2 oz</td>
          </tr>
          <tr>
            <td>8.8 oz</td>
          </tr>
          <tr>
            <td>13 oz</td>
          </tr>
          <tr>
            <td>24 oz</td>
          </tr>
          <tr>
            <td>28 oz</td>
          </tr>
          <tr>
            <td>5 kg Pails</td>
          </tr>
          <tr>
            <td>20 kg Pails</td>
          </tr>
        </tbody>
      </table>        

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="mushrooms">Mushrooms</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6 *#A10 Cans</td>
          </tr>
          <tr>
            <td>12x32 oz Jars</td>
          </tr>
        
        </tbody>
      </table>   


      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="lemons">Lemons</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8 oz</td>
          </tr>
          <tr>
            <td>12 oz</td>
          </tr>
          <tr>
            <td>5 kg</td>
          </tr>
        
        </tbody>
      </table>  

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="capers">Capers</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12 oz Jars</td>
          </tr>
          <tr>
            <td>180 kg Drums</td>
          </tr>        
        </tbody>
      </table>   

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="oliveoil">Olive Oil</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 litre Bottles</td>
          </tr>
          <tr>
            <td>200 kg Drums</td>
          </tr>
          <tr>
            <td>20 Ton Flex Tanks</td>
          </tr>
        </tbody>
      </table>   

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="peppers">Peppers</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fire Roasted</td>
            <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6*A#9 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
          </tr>
          <tr>
            <td>Harissa Paste</td>
            <td>6*5 kg</td>
          </tr>
          <tr>
            <td>Sweet & Sexy</td>
            <td>3*5 kg</td>
          </tr>
          <tr>
          <td>Yellow Roasted</td>
            <td>6#9</td>
          </tr>
          <tr>
            <td>Harissa Paste</td>
            <td>180 kg</td>
          </tr>
          <tr>
            <td>Pepper Hulls</td>
            <td>160 kg</td>
          </tr>
          <tr>
            <td>Pili Peppers (Hot Peppers)</td>
            <td>160 kg</td>
          </tr>
          <tr>
            <td>Red Pepper Strips in Brine</td>
            <td>160 kg</td>
          </tr>
        </tbody>
      </table>  


      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="sardines">Sardines</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sardines in Veg Oil with Pili Pili Pepper</td>
            <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4.375 oz &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
          </tr>
          <tr>
            <td>Spicy Sardines in Vegetable Oil</td>
            <td>4.375 oz</td>
          </tr>
          <tr>
            <td>Skinless Boneless Sardines in Olive Oil</td>
            <td>4.375 oz</td>
          </tr>
          <tr>
            <td>Skinless Boneless Sardines in Vegetable Oil</td>
            <td>4.375 oz</td>
          </tr>
        </tbody>
      </table>  

      <div class="row"></div>
      <div class="row"></div> 
      
      <h2 class="center" id="atichokes">Atichokes</h2>
      <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th data-field="type">Type</th>
              <th data-field="size">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Whole Hearts with Stems</td>
            <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3 kg Cans&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
          </tr>
          <tr>
            <td>Marinated Hearts</td>
            <td>3 kg Cans</td>         
          </tr>
          <tr>
            <td>Whole Hearts</td>
            <td>3 kg Cans</td>         
          </tr>
          <tr>
            <td>Quartered Hearts</td>
            <td>3 kg Cans</td>
          </tr>
          <tr>
            <td>Sliced</td>
            <td>3 kg Cans</td>         
          </tr>
        </tbody>
      </table>         

</div>

</div>





