<div class="row"></div>


<div class="container headings">
  <h1>Stylists</h1>
  <i class="large material-icons">account_box</i>
  <hr>
</div>
<div class="row">
	<div>
	<div class="col s12 m12 l4 center">
	  <img src="/public/img/emp1.png" alt="sache_employees" class="circle">
	</div>
	<div class="col s12 m12 l8">
	  <h6>Kitwana</h6>
    <label>Management/Stylist</label>
		<p>
		Hairstylist/Cosmetologist and Cosmetology Teacher, graduated from Empire Beauty School, in Philadelphia Pennsylvania.She also attends continuing education Seminars and Shows you how to keep up with trends and new products.  She specializes in special placement Hair Extensions.  She is known for her Maylasian Braidless Sewin,  Beaded-Weft Hair Extension integration and Sew-In Weaves.  She is also proficient in Haircutting on both Natural Hair and Extensions,Natural Ethnic Hair Treatments – Press & Curl, Keratin Treatments, Japanese Straightening, HairColor, Relaxer. Kitwana has a passion for healthy hair and teaches her clients how to properly care for their hair between appointments.  It is her mission to teach every woman that they can have vibrant, healthy hair whether it is long or short.  She offers private appointments with little or no waiting time.  It is her passion to make women look and feel their best.Come see Kitwana for your next hair appointment in a relaxing, fun atmosphere for women.</p>
		
		<div class="row">
			<p>
       <a href="#"><i class="material-icons prefix" style="top: 5px;position: relative;">phone</i>(267) 344 8896</a>
			</p>
			<p><a href="mailto:kitwanaclaudia@gmail.com" target="_blank"><i class="material-icons prefix" style="top: 5px;position: relative;">email</i>kitwanaclaudia@gmail.com</a></p>
		</div>

	</div>
	</div>

<div class="row"></div>
	<div class="col s12 m12 l4 center">
		<img src="/public/img/emp2.png" alt="sache_employees" class="circle">
	</div>
	<div class="col s12 m12 l8">
	  <h6>Daphne</h6>
    <label>Stylist</label>
		<p>
		I have been in this industry and community for over 25 years and will enjoy the opportunity to apply my experience, education, and love of this profession to give you an enjoyable and satisfying salon experience. I always had a passion for hair and started experimenting with hair extension at the age of 16 years old. I specialize in many advanced hair extensions techniques and pride myself in healthy haircare and natural hair presses.</p>

		<div class="row">
			<p>
       <a href="#"><i class="material-icons prefix" style="top: 5px;position: relative;">phone</i>(267) 344 8896</a>
			</p>
			<p><a href="mailto:daphnejohnson01@aol.com" target="_blank"><i class="material-icons prefix" style="top: 5px;position: relative;">email</i>daphnejohnson01@aol.com</a></p>
		</div>

	</div>
</div>











