<div class="row"></div>

<div class="container headings">
  <h1>Upload Content</h1>
  <i class="large material-icons">file_upload</i>
  <h6>Welcome {{data.users.username}}</h6>
  <hr>
</div>

<div class="row"></div>
<div class="row"></div>

<div class="row">
<div class="col l12">
<h2 class="center">Upload Image</h2>
<form enctype="multipart/form-data" action="/uploadImage" method="POST">

  <div class="file-field col s12 m12 l12">
      <div class="btn">
        <span>Select File</span>
        <input type="file" name="file" onchange="loadFile(event)" class="validate" required>
      </div>

      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
      <img id="output" class="responsive-img"/>
  </div>

  <div class="input-field col s12 m12 l12">
    <i class="material-icons prefix">mode_edit</i>
    <textarea id="textarea" class="materialize-textarea" name="imageDes" class="validate" required></textarea>
    <label for="textarea">Enter Image Description</label>
  </div>

  <div class="row"></div>

  <div class="center">
  <button class="btn-large waves-effect waves-light" type="submit">Upload Image<i class="material-icons right">cloud_upload</i></button> 
  </div>

</form>
</div>
</div>

<div class="row"></div>
<div class="divider"></div>
<div class="row"></div>
<div class="divider"></div>

<div class="row"></div>
<div class="row"></div>

<div class="row">
<div class="col l12">
<h2 class="center">Upload Video</h2>
  <form class="col s12 m12 l12" name="video" action="/addVideo" method="post">
    <div class="input-field col s12 m12 l12">
      <i class="fa fa-link material-icons prefix" aria-hidden="true"></i>
      <input id="videourl" name="videourl" type="text" class="validate" required>
      <label for="videourl">Enter Youtube URL</label>
    </div>

    <div class="row"></div>

    <div class="center">
      <button class="btn-large waves-effect waves-light" type="submit">Upload Video<i class="material-icons right">cloud_upload</i></button>     
    </div>
  </form>
</div>
</div>

<div class="row"></div>
<div class="divider"></div>
<div class="row"></div>
<div class="divider"></div>


<div class="row"></div>
<div class="row"></div>


<div class="row">
<div class="col l12">
<h2 class="center">Upload Image</h2>
<form enctype="multipart/form-data" action="/uploadImage2" method="POST">

  <div class="file-field col s12 m12 l12">
      <div class="btn">
        <span>Select File</span>
        <input type="file" name="file" onchange="loadFile2(event)" class="validate" required multiple>
      </div>

      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
      <img id="output2" class="responsive-img"/>
  </div>

  <div class="row"></div>

  <div class="center">
  <button class="btn-large waves-effect waves-light" type="submit">Upload Image<i class="material-icons right">cloud_upload</i></button> 
  </div>

</form>
</div>
</div>

<div class="row"></div>
<div class="divider"></div>
<div class="row"></div>
<div class="divider"></div>



