<div class="row"></div>

<div class="container headings">
  <h1>Upload Content</h1>
  <i class="large material-icons">file_upload</i>
  <h6>Welcome {{data.users.username}}</h6>
  <hr>
</div>

<div class="row"></div>
<div class="row"></div>

<div class="row">
<div class="container headings">
  <h2>Upload Image</h2>
</div>
<div class="row"></div>

<form enctype="multipart/form-data" action="/uploadImage" method="post" class="col l12">

  <div class="file-field input-field col l4">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="file" name="file">
      </div>
    </div>

    <div class="input-field col l6">
      <textarea id="textarea1" class="materialize-textarea" name="imageDes"></textarea>
      <label for="textarea1">Textarea</label>
    </div>

    <button type="submit" value="Upload Image">Upload</button>

{{!--   <input type="file" name="photo" />
  <input type="submit" value="Upload Image" name="submit" />
  <textarea type="text" name="imageDes"></textarea> --}}
 </form>

</div>

<div class="row"></div>
<div class="row">
<div class="container headings">
  <h2>Upload Video</h2>
</div>
<div class="row"></div>

  <form class="col s12 m12 l12" name="video" action="/addVideo" method="post">
    <div class="input-field col s12 m12 l12">
      <i class="fa fa-link material-icons prefix" aria-hidden="true"></i>
      <input id="videourl" name="videourl" type="text" class="validate" required>
      <label for="videourl">Enter Youtube URL</label>
    </div>

    <div class="row"></div>

    <div class="center">
      <button class="btn-large waves-effect waves-light" type="submit">Upload Video<i class="material-icons right">cloud_upload</i></button>     
    </div>
  </form>
</div>

 


{{!-- MODAL --}}
<div id="delete" class="modal">
  <div class="modal-content">
    <p class="center"><img src="/public/img/warning.svg" alt="delete_order" class="responsive-img"></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn" href="#">no</a></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn red lighten-2" id="yes" href="/dashboard">Yes</a></p>
  </div>
</div>

<div id="update" class="modal">
  <div class="modal-content">
    <p class="center"><img src="/public/img/update.svg" alt="delete_order" class="responsive-img"></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn orange lighten-2" id="transit" href="/dashboard">In Transit</a></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn green lighten-2" id="complete" href="/dashboard">Complete</a></p>
  </div>
</div>

</div>



