<div class="row"></div>

<div class="container headings">
  <h1>Upload Content</h1>
  <i class="large material-icons">file_upload</i>
  <h6>Welcome {{data.users.username}}</h6>
  <hr>
</div>

<div class="row"></div>

<div class="row">
<div class="col s12 m12 l12">
<h2 class="center">Multiple Image Upload</h2>
<form enctype="multipart/form-data" action="/uploadImages" method="POST">

  <div class="input-field col s12 m12 l12">
        <i class="material-icons prefix">image</i>
        <select id="category" name="category" class="validate" required>
          <option value="" disabled selected>Select Image Category</option>
          <option value="extensions" data-icon="public/img/extensions.jpg" class="circle">Extensions</option>
          <option value="braids" data-icon="public/img/braids.png" class="circle">Braids</option>
          <option value="sewin" data-icon="public/img/sewin.jpg" class="circle">Sewin</option>
        </select>        
  </div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="file-field col s12 m12 l12">
      <div class="btn">
        <span>Select Files</span>
        <input type="file" name="file" onchange="loadFile(event)" class="validate" required multiple>
      </div>

      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
  </div>


  <div class="col s12 m6 offset-m3 l6 offset-l3">
  <img id="pics" class="responsive-img"/>
  </div>


  <div class="row"></div>

  <div class="center">
  <button class="btn-large waves-effect waves-light" type="submit">Upload Images<i class="material-icons right">cloud_upload</i></button> 
  </div>

</form>
</div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="divider"></div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
<div class="col s12 m12 l12">
<h2 class="center">Upload Video</h2>
  <form class="col s12 m12 l12" name="video" action="/addVideo" method="POST">
    <div class="input-field col s12 m12 l12">
      <i class="fa fa-link material-icons prefix" aria-hidden="true"></i>
      <input id="videourl" name="videourl" type="text" class="validate" required>
      <label for="videourl">Enter Youtube URL</label>
    </div>

    <div class="row"></div>

    <div class="center">
      <button class="btn-large waves-effect waves-light" type="submit">Upload Video<i class="material-icons right">cloud_upload</i></button>     
    </div>
  </form>
</div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="divider"></div>

