  .error {
    border-radius:10px;
    padding:10px 36px;
    margin:10px;
    background:#ffecec;
    border:1px solid #f5aca6;
    text-align: center;
    display: none;
    span {
    color:#555;
    font-weight:bold;
    text-transform:uppercase;
  }
}  
.success {
    border-radius:10px;
    padding:10px 36px;
    margin:10px;
    background: #e9ffd9;
    border:1px solid #a6ca8a;
    text-align: center;
    display: none;
    span {
    color:#555;
    font-weight:bold;
    text-transform:uppercase;
  }
}