.headings {
    text-align: center;
  h2 {
    margin-bottom: 15px;
  }
  hr {
      height: 5px;
      background: #d1cdcd;
      border: none;
      width: 40px;
      margin-bottom: 45px;
  }
  i{
    font-size: 3em;
    color: #ACA5B1;
  }
}