html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 15.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 16px;
  }
  
  font-family: "Ebgaramond", sans-serif;
  font-weight: normal;
  color: #666169;

}
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand";
	font-weight: 600;
	line-height: 1.1;
}

nav a {
  font-family: "Quicksand-Light";
  font-weight: 400;
}


// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0; text-transform: uppercase; color: #6C4F7F;}
h2 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0; text-transform: uppercase; color: #6C4F7F}
h3 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0; text-transform: uppercase;}

  @media #{$small-and-down} {
  h1{font-size: 3.5rem;}
  }

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

//Material Icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }

}